/*General*/
*{
    margin: 0px;
    padding: 0px;
   
    
}
@font-face { /*Incluir nuevas fuentes al documento*/
    font-family: "RockSalt-Regular";
    src: url("../Fuentes/RockSalt-Regular.ttf");
    
}
@font-face {
    font-family: "Fresh Season";
    src: url("../Fuentes/Fresh Season.otf");
}

body {
    background-color: grey;
    height: 100%;
    background-image: url("../Imagenes/noche.jpg");
    background-repeat: no-repeat;
    background-size:cover; /*Cubrir todo el fondo*/
    overflow: hidden;
}
#Inicial {
    width: 70%;
    max-width: 700px;
    height: 100%;
    margin: auto;
    background-image: url("../Imagenes/Inicio.jpg");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    text-align: center;
   
    
    
}
#Titulo {
    color: white;
    margin-top: 20px;
    font-size: 50px;
    font-family:"RockSalt-Regular";
    text-shadow: 0px 0px 30px black;
}
#SubTitulo {
    color: white;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 200px;

}
#Empezar{
   text-decoration: none;
   color: darkgoldenrod;
   background-color:purple;
   font-size: 80px;
   font-family:"RockSalt-Regular";
   border: 20px solid gold;
   border-radius: 50px;
   padding: 10px;
  

   

   
}
#Empezar:hover{
    font-size: 80px;
    color: purple;
    background-color:black;
    border: 20px solid darkgoldenrod;
    border-radius: 50px;
    font-family:"RockSalt-Regular";
    
}


/*Bienvenida.html*/

#Contenedor{
    width: 50%;
    min-width:50%;
    max-width:50%;
    height: 97.5%;
    margin: auto;
    box-shadow: 0px 0px 10px 5px black;
    background-color: grey;
    background-image: url("../Imagenes/Bosque1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*Para que la imagen de fondo se rediemnsione con el contenido y no deje espacios en blanco*/
    padding-top:20px;
    border-radius:20px;
    overflow:auto;
    
    
    
    

    
    
}

#Comienzo{
    text-align: center;
    background-color: purple;
    color: rgb(#2b144d);
    font-family: "Fresh Season";
    font-size: 60px;
    box-shadow: 0px 0px 10px 5px black;
}
.Cuadro{
    
    color: brown;
    text-align: center;
    font-size: 2em;
    font-family: "Fresh Season";
    background-image: url("../Imagenes/Cuadro.png");
    background-repeat: no-repeat;
    background-size:contain; /*Para que se redimensione con el contenido*/
    background-position:center;
    
    
    
    
}
#CuadroInicio{ /*Lo separo porque la clase cuadro la voy a seguir usando y no quiero que le afecten los margins que voy a poner a cada uno*/
   margin-bottom: 3%;
   margin-left: 11%;
   width: 70%;
   height: 20%;
   padding: 0px 4%;
   padding-top: 10%;
   
   
}
#Start{
    text-decoration: none;
    color: darkgoldenrod;
    background-color:purple;
    font-size: 80px;
    font-family:"Fresh Season";
    border: 10px solid gold;
    border-radius: 20px;
    padding: 1%;
    position: absolute;
    left: 44%;
    top:39%;
    
    
}
#Start:hover{
   
    color: purple;
    background-color:black;
    border-color: darkgoldenrod;
    
    
    
}
#CasperBienvenida {
    width: 15%;
    min-width: 15%;
    max-width: 15%;
    position:absolute;
    top: 50%;
    left: 35%;
    
}
#NovaBienvenida{
 
    width: 16%;
    min-width: 16%;
    max-width: 16%;
    position: absolute;
    top: 50%;
    left: 50%;
}

/*Juego.html*/
#Principal{
    width: 70%;
    height: 75%;
    margin: auto;
    background-image: url("../Imagenes/Casper_y_Nova.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: grey;
    border-radius:5%;
    box-shadow: 0px 0px 10px 5px black;
}
#Casper{
  width: 15%;
  height: 40%;
  position: absolute;
  
}
#Nova{
    width: 15%;
    height: 40%;
    position: absolute;
    

}
#Consola{
    width: 70%;
    height: 25%;
    margin: auto;
    text-align: center;
    background-color: pink;
    background-image: url(../Imagenes/Bosque1.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    box-shadow: 0px 0px 10px 5px black;
    border-radius:20px;
    overflow:auto;
}
#Volver {
    float: left;
    width: 15%;
    height: 80%;
    margin-left: 2%;
    margin-top: 1%;

}
#Volver:hover{
    
    background-color: rgba(209, 15, 71, 0.5);
    border-radius:20%;
}
#Consola .Cuadro{
    
    margin-left: 2.5em;
    margin-top: 0.25em;
    width: 40%;
    float: left;
    height: 50%;
    padding: 1.5em;
    
}
#Seguir {
    float: right;
    width: 15%;
    height: 80%;
    margin-right: 2%;
    margin-top: 1%;
   

}
#Seguir:hover{
    background-color: rgba(209, 15, 71, 0.5);
    border-radius:20%;
}





